<!DOCTYPE html>
<html>
<head>
<title>Grade AI System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/student.css') }}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="{{ url_for('static', filename='js/kalender.js') }}"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.grafik23 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
  }

  @media screen and (max-width: 768px){
	.grafik23{
    margin-top: 50px;
  }
}
</style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-animate-left" style="z-index:3;width:250px; background-color: #ffffff;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <center><h4><b>GAIS Siswa</b></h4></center>
    <center><img src="{{ url_for('static', filename='img/unja-removebg-preview.png') }}" style="width:60%;" class="w3-round"><br><br></center>
    <center><p1 class="w3-text" style="font-size: 18px; font-weight: 600; color: rgb(8, 8, 8);">{{username}}</p1></center>
    <center><p class="w3-text-grey">Interface Page</p></center>
  </div>
  <div class="w3-bar-block">
    <a href="{{url_for('dashboardmahasiswa')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-blue" style="width: 80%; margin-left: 20px; border-radius: 5px;"><i class="fa fa-th-large fa-fw w3-margin-right"></i>DASHBOARD</a> 
    <a href="{{url_for('profilmahasiswa')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding" style="width: 80%; margin-left: 20px; border-radius: 5px; margin-top: 10px;"><i class="fa fa-user fa-fw w3-margin-right"></i>PROFIL</a> 
    <a href="{{url_for('ujianmahasiswa')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding" style="width: 80%; margin-left: 20px; border-radius: 5px; margin-top: 10px;"><i class="fa fa-book fa-fw w3-margin-right"></i>UJIAN</a>
  </div>
  <footer>
    <div class="w3-panel w3-large w3-display-bottomleft" style="width: 80%; margin-left: 20px; border-radius: 5px; background-color: rgb(136, 163, 235);; height: 40px; color: #030303;">
      <a onclick="return confirm('Apakah yakin ingin keluar dari system?'); " href="{{url_for('logout')}}"><i class="fa fa-sign-out"></i>Log out</a>
    </div>
  </footer>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Header -->
  <header id="portfolio" style="background-color: rgb(66, 99, 189);">
   
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b style="color: rgb(247, 240, 240);">Grade AI System Hukum Newton</b></h1>
    
    </div>
  </header>
  <center><h2>Hi {{ username }}, selamat datang</h2></center>
   <!-- konten pertama-->

  <div class="row">
    <div class="coloum time-1">
      <h1>Waktu & Kalender</h1>
      <div id="tanggal-waktu"></div>
      <div id="kalender"></div>
    </div>
    <div class="coloum std-1">
    <center><h2 style=" font-weight: 600;">Nilai Pemahaman Konsep {{username}} </h2></center>
    <center>
    <table class="w3-table w3" style="font-size: 15px;">
        <tr>
            <th>Kode</th>
            <th>Chapter</th>
            <th>Nilai</th>
            <th>Tanggal-Waktu</th>
        </tr>
        {% for ujian in riwayat_ujian %}
        <tr>
            <td aria-placeholder="belum ada lkpd yang selesai">{{ ujian[0] }}</td>
            <td>{{ ujian[1] }}</td>
            <td>{{ ujian[3] }}</td>
            <td>{{ ujian[4] }}</td>
        </tr>
        {% endfor %}
    </table>
    </center>
    </div>
  </div>
  <br>
  <div class="grid grafik23 w3-jumbo w3-hide-small">
    <h1 style="font-size: 20px; margin-left: 30px; font-weight: 600;">Grafik Pemahaman Konsep Hukum Newton</h1>
    <canvas id="myChart" width="550" height="200" style="margin-left: 20px; border: 1px solid rgb(26, 47, 141);"></canvas>
  </div>

    <div class="w3-row-padding">
      <!-- Kotak Persegi Tugas 1 -->
      <div class="w3-col s12 m4 w3-xxlarge w3-hide-small">
        <div class="w3-card-4 w3-padding-large w3-center" style="background-color: #ffffff; color: rgb(0, 0, 0);  margin-bottom: 30px; height: 500px; width: 400px; border-radius: 5px;">
          <h3 style="font-size: 20px; margin-left: 20px; font-weight: 600;">Nilai Pemahaman Konsep</h3>
          <canvas id="myChart3" style="margin-left: 10px; border: 1px solid rgb(26, 47, 141); height: auto;"></canvas>
        </div>
      </div>
        <!-- Kotak Persegi Tugas 1 -->
        <div class="w3-col s12 m4 w3-xxlarge w3-hide-small">
          <div class="w3-card-4 w3-padding-large w3-center" style="background-color: #ffffff; color: rgb(0, 0, 0);  margin-bottom: 30px; height: 500px; width: 400px; margin-left: 80px; border-radius: 5px;">
            <h3 style="font-size: 20px; margin-left: 20px; font-weight: 600;">Progress ({{ratarata}}%)</h3>
            <canvas id="myChartP" style="margin-left: 20px; border: 1px solid rgb(26, 47, 141); height: auto;"></canvas>
          </div>
        </div>

  <div class="w3-container w3-padding" style="margin-top: 400px;">
    <div class="w3-row-padding">

      <!-- Kotak Persegi Tugas 1 -->
      <div class="w3-col s12 m4 w3-xxlarge w3-hide-large w3-hide-medium">
        <div class="w3-card-4 w3-padding-large w3-center" style="background-color: #ffffff; color: rgb(0, 0, 0);  margin-bottom: 30px; height: 400px;">
          <h3 style="font-size: 20px; margin-left: 20px; font-weight: 600;">Grafik Skor Pemahaman Konsep Hukum Newton</h3>
          <canvas id="myChart2" style="margin-left: 20px; border: 1px solid rgb(26, 47, 141); height: auto;"></canvas>
        </div>
      </div>
        <!-- Kotak Persegi Tugas 1 -->
        <div class="w3-col s12 m4 w3-xxlarge w3-hide-large w3-hide-medium">
          <div class="w3-card-4 w3-padding-large w3-center" style="background-color: #ffffff; color: rgb(0, 0, 0);  margin-bottom: 30px; height: 400px;">
            <h3 style="font-size: 20px; margin-left: 20px; font-weight: 600;">Grafik Skor Pemahaman Konsep Hukum Newton</h3>
            <canvas id="myChart4" style="margin-left: 20px; border: 1px solid rgb(26, 47, 141); height: auto;"></canvas>
          </div>
        </div>
  <br>
  <br>
    </div>
  </div>



</div>
  <div class="footer">
    <a>Copyright @ Pendidikan Fisika @NLP-team @UNJA</a>
  </div>
</div>
<script>
  var labels = {{ labels | tojson }};
  var data = {{ data | tojson }};

  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Nilai Pemahaman Konsep',
              data: data,
              backgroundColor: 'rgba(54, 162, 235, 0.5)',
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1
          }]
      },
      options: {
        scales: {
            y: {
                beginAtZero: true,
                stepSize: 1, // Set stepSize to 1 to display only integer level values
                ticks: {
                    callback: function(value, index, values) {
                      if (value % 1 == 0) {
                        if (value == 1) {
                            return "Tidak paham";
                        } else if (value == 2) {
                            return "Miskonsepsi spesifik";
                        } else if (value == 3) {
                            return "Pemahaman sebagian";
                        } else if (value == 4) {
                            return "Pemahaman keseluruhan";
                        } else {
                            return "";
                        }
                      } else {
                            return null;
                      }
                    }
                }
            }
        }
    }
});
</script>

<script>
  var labels = {{ labels | tojson }};
  var data = {{ data | tojson }};

  var ctx = document.getElementById('myChart3').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'polarArea',
      data: {
          labels: labels,
          datasets: [{
              label: 'Nilai Pemahaman Konsep',
              data: data,
              backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(75, 192, 192)',
      'rgb(255, 205, 86)',
      'rgb(201, 203, 207)',
      'rgb(54, 162, 235)'],
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1
          }]
      },
      options: {
        scales: {
            y: {
                beginAtZero: true,
                stepSize: 1, // Set stepSize to 1 to display only integer level values
                ticks: {
                    callback: function(value, index, values) {
                      if (value % 1 == 0) {
                        if (value == 1) {
                            return "Tidak paham";
                        } else if (value == 2) {
                            return "Miskonsepsi spesifik";
                        } else if (value == 3) {
                            return "Pemahaman sebagian";
                        } else if (value == 4) {
                            return "Pemahaman keseluruhan";
                        } else {
                            return "";
                        }
                      } else {
                            return null;
                      }
                    }
                }
            }
        }
    }
});
</script>
<script>
  var labels = {{ labels | tojson }};
  var data = {{ data | tojson }};

  var ctx = document.getElementById('myChart4').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'polarArea',
      data: {
          labels: labels,
          datasets: [{
              label: 'Nilai Pemahaman Konsep',
              data: data,
              backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(75, 192, 192)',
      'rgb(255, 205, 86)',
      'rgb(201, 203, 207)',
      'rgb(54, 162, 235)'],
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1
          }]
      },
      options: {
        scales: {
            y: {
                beginAtZero: true,
                stepSize: 1, // Set stepSize to 1 to display only integer level values
                ticks: {
                    callback: function(value, index, values) {
                      if (value % 1 == 0) {
                        if (value == 1) {
                            return "Tidak paham";
                        } else if (value == 2) {
                            return "Miskonsepsi spesifik";
                        } else if (value == 3) {
                            return "Pemahaman sebagian";
                        } else if (value == 4) {
                            return "Pemahaman keseluruhan";
                        } else {
                            return "";
                        }
                      } else {
                            return null;
                      }
                    }
                }
            }
        }
    }
});
</script>
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>
<script>
  var labels = {{ labels | tojson }};
  var data = {{ data | tojson }};

  var ctx = document.getElementById('myChart2').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Nilai Pemahaman Konsep',
              data: data,
              backgroundColor: 'rgba(54, 162, 235, 0.5)',
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1
          }]
      },
      options: {
        scales: {
            y: {
                beginAtZero: true,
                stepSize: 1, // Set stepSize to 1 to display only integer level values
                ticks: {
                    callback: function(value, index, values) {
                      if (value % 1 == 0) {
                        if (value == 1) {
                            return "Tidak paham";
                        } else if (value == 2) {
                            return "Miskonsepsi spesifik";
                        } else if (value == 3) {
                            return "Pemahaman sebagian";
                        } else if (value == 4) {
                            return "Pemahaman keseluruhan";
                        } else {
                            return "";
                        }
                      } else {
                            return null;
                      }
                    }
                }
            }
        }
    }
});
</script>
<script>
  // Mengambil data dari server atau menginisialisasi data Anda
  var labels = ['Dikerjakan', 'Belum Dikerjakan'];
  var dikerjakan = {{ ratarata }}; // Ganti dengan nilai yang sesuai dari server
  var belumDikerjakan = {{ tidak }}; // Ganti dengan nilai yang sesuai dari server

  // Warna gradient untuk "Dikerjakan" (biru) dan "Tidak Dikerjakan" (abu-abu)
  var gradientColors = [
    'rgb(102, 153, 255)',
    'rgba(169, 169, 169, 0.8)'
  ];

  var ctx = document.getElementById('myChartP').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
          labels: labels,
          datasets: [{
              data: [dikerjakan, belumDikerjakan],
              backgroundColor: gradientColors, // Menggunakan warna gradient
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1
          }]
      },
      options: {
          plugins: {
              legend: {
                  display: true,
                  position: 'bottom',
                  labels: {
                      font: {
                          size: 14
                      }
                  }
              },
              title: {
                  display: true,
                  text: 'Grafik Persentase',
                  font: {
                      size: 18
                  }
              },
              tooltip: {
                  callbacks: {
                      label: function(context) {
                          var label = context.label || '';
                          if (label) {
                              label += ': ';
                          }
                          label += Math.round(context.parsed * 1) + '%';
                          return label;
                      }
                  }
              }
          }
      }
  });
</script>



<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>
</body>
</html>
