<!DOCTYPE html>
<html>
<head>
<title>Grade AI System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/student.css') }}">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-animate-left" style="z-index:3;width:250px; background-color:#ffffff ;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <center><h4><b>GAIS Siswa</b></h4></center>
    <center><img src="{{ url_for('static', filename='img/unja-removebg-preview.png') }}" style="width:60%;" class="w3-round"><br><br></center>
    
    <center><p1 class="w3-text" style="font-size: 16px; font-weight: 600; color: rgb(23, 58, 139);">{{username}}</p1></center>
    <center><p class="w3-text-grey">Interface Page</p></center>
  </div>
  <div class="w3-bar-block">
    <a href="{{url_for('dashboardmahasiswa')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding " style="width: 80%; margin-left: 20px; border-radius: 5px;"><i class="fa fa-th-large fa-fw w3-margin-right"></i>DASHBOARD</a> 
    <a href="{{url_for('profilmahasiswa')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding" style="width: 80%; margin-left: 20px; border-radius: 5px; margin-top: 10px;"><i class="fa fa-user fa-fw w3-margin-right"></i>PROFIL</a> 
    <a href="{{url_for('ujianmahasiswa')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-blue" style="width: 80%; margin-left: 20px; border-radius: 5px; margin-top: 10px;"><i class="fa fa-book fa-fw w3-margin-right"></i>UJIAN</a>
  </div>
  <footer>
    <div class="w3-panel w3-large w3-display-bottomleft" style="width: 80%; margin-left: 20px; border-radius: 5px; background-color: rgb(136, 163, 235);; height: 40px; color: #030303;">
      <a onclick="return confirm('Apakah yakin ingin keluar dari system?'); " href="{{url_for('logout')}}"><i class="fa fa-sign-out"></i>Log out</a>
    </div>
  </footer>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">
  <!-- Header -->
  <header id="portfolio"style="background-color: rgb(66, 99, 189);">
   
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b style="color: rgb(237, 244, 248);">Grade AI System Hukum Newton</b></h1>
    </div>
  </header>
   <!-- konten pertama-->
    <div class="ujian" style="margin-top: 20px;">
        <div class="ujian-2">
            <span><i class="fa fa-pencil-square" style="font-size: 50px; margin-left: 20px;"></i>HUKUM NEWTON</span>
        </div>
        <div class="ujian-3">
            <span><i class="fa fa-" style="font-size: 50px; margin-left: 20px;"></i>Hukum Newton 1</span>
            <div class="ujian-4">
                <center><span><a href="{{url_for('fluida1')}}" >Mulai 1</a></span></center>
            </div>

        </div>
        <div class="ujian-3">
            <span><i class="fa fa-" style="font-size: 50px; margin-left: 20px;"></i>Hukum Newton 2</span>
            <div class="ujian-4">
                <center><span><a href="{{url_for('fluida2')}}" >Mulai  2 </a></span></center>
            </div>

        </div>
        <div class="ujian-3">
            <span><i class="fa fa-" style="font-size: 50px; margin-left: 20px;"></i>Hukum Newton 3</span>
            <div class="ujian-4">
                <center><span><a href="{{url_for('fluida3')}}" >Mulai 3</a></span></center>
            </div>

        </div>
        <div class="ujian-3">
            <span><i class="fa fa-" style="font-size: 50px; margin-left: 20px;"></i>Hukum Newton 4</span>
            <div class="ujian-4">
                <center><span><a href="{{url_for('fluida4')}}" >Mulai 4 </a></span></center>
            </div>

        </div>
        <div class="ujian-5">
          <span><i class="fa fa-" style="font-size: 50px; margin-left: 20px;"></i>Hukum Newton 5</span>
          <div class="ujian-52">
              <center><span><a href="{{url_for('fluida5')}}" >Mulai 5</a></span></center>
          </div>

      </div>




    </div>







   </div>
   <div class="footer">
   <a>Copyright @Pendidikan Fisika @NLP-team @UNJA</a>
   </div>
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>
<script>
    // Fungsi untuk membuka modal
    function openModal() {
      document.getElementById("myModal").style.display = "block";
    }

    // Fungsi untuk menutup modal
    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }

    // Event listener untuk button "Update Profil"
    document.getElementById("openModal").addEventListener("click", openModal);

    // Event listener untuk tombol "Close"
    document.getElementsByClassName("close")[0].addEventListener("click", closeModal);

    // Event listener untuk menutup modal saat user mengklik di luar area modal
    window.addEventListener("click", function(event) {
      if (event.target == document.getElementById("myModal")) {
        closeModal();
      }
    });
</script>

</body>
</html>
