<!DOCTYPE html>
<html>
<head>
<title>Grade AI System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/teacher.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway"}
.data-soal{
            margin-top: 10px;
            width: 900px;
            height: auto;
            background-color: rgb(118, 207, 219);
            font-size: 18px;
            border-radius: 8px;
            margin-left: 20px;
            font-family: sans-serif;
            
        }
        .data-soal img{
            margin-left: 30px;
            margin-bottom: 5px;
        }

</style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-animate-left" style="z-index:3;width:250px; background-color: #ffffff;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <center><h4><b>GAIS GURU</b></h4></center>
    <center><img src="{{ url_for('static', filename='img/unja-removebg-preview.png') }}" style="width:60%;" class="w3-round"><br><br></center>
    <center><p1 class="w3-text" style="font-size: 16px; font-weight: 600; color: rgb(23, 58, 139);">{{username}}</p1></center>
    <center><p class="w3-text-grey">Interface Page</p></center>
  </div>
  <div class="w3-bar-block">
    <a href="{{url_for('dashboardosen')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding" style="width: 80%; margin-left: 20px; border-radius: 5px;"><i class="fa fa-th-large fa-fw w3-margin-right"></i>DASHBOARD</a> 
    <a href="{{url_for('profildosen')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding" style="width: 80%; margin-left: 20px; border-radius: 5px; margin-top: 10px;"><i class="fa fa-user fa-fw w3-margin-right"></i>PROFIL</a> 
    <a href="{{url_for('kodedosen')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding" style="width: 80%; margin-left: 20px; border-radius: 5px; margin-top: 10px;"><i class="fa fa-code-fork fa-fw w3-margin-right"></i>KODE</a>
    <a href="{{url_for('datadosen')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding" style="width: 80%; margin-left: 20px; border-radius: 5px; margin-top: 10px;"><i class="fa fa-database fa-fw w3-margin-right"></i>DATA SISWA</a>
    <a href="{{url_for('soal')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-indigo" style="width: 80%; margin-left: 20px; border-radius: 5px; margin-top: 10px;"><i class="fa fa-folder-open fa-fw w3-margin-right"></i>DATA SOAL</a>
  </div>
  <footer>
    <div class="w3-panel w3-large w3-display-bottomleft" style="width: 80%; margin-left: 20px; border-radius: 5px; background-color: rgb(150, 130, 235);; height: 40px; color: #030303;">
      <a onclick="return confirm('Apakah yakin ingin keluar dari system?'); " href="{{url_for('logout')}}"><i class="fa fa-sign-out"></i>Log out</a>
    </div>
  </footer>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Header -->
  <header id="portfolio" style="background-color: darkblue;">
   
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b style="color: rgb(255, 255, 255);">Grade AI System</b></h1>
    </div>
  </header>
   <!-- konten pertama-->
        <div class="data-soal">
            <p>1. Seseorang menimbang ikan bermassa  dengan timbangan yang 
              digantungkan pada atap lift, seperti terlihat pada Gambar dibawah 
              ini. Saat lift diam, skala pada timbangan menunjukkan angka 5 N.Jika lift dipercepat ke atas, penunjukkan skala pada timbangan adalah . . ....
            </p>
            <p><img src="{{ url_for('static', filename='img/soalnew1.jpg') }}" alt="" style="width: 300px; height: 300px;"></p>
            <p></p>
        </div>
        <div class="data-soal">
            <p>2.  Bola A, B dan C bergerak pada garis lurus dari kiri ke kanan. Saat t=0, bola A, B dan C melewati x=0, 
              posisi bola pada setiap detik berikutnya ditunjukkan pada Gambar dibawah ini. Perbandingan resultan gaya yang bekerja pada bola A, B dan C adalah . . .....
            </p>
            <p><img src="{{ url_for('static', filename='img/soal2.jpg') }}" alt="" style="width: 300px; height: 250px;"></p>
            <p></p>
        </div>
        <div class="data-soal">
            <p>3.  Dua balok diletakkan pada meja yang licin didorong dengan gaya 
              seperti pada Gambar dibawah ini. Jika  merupakan gaya yang dikerjakan oleh 
               pada , besarnya  adalah.......
            </p>
            <p><img src="{{ url_for('static', filename='img/soal3.png') }}" alt="" style="width: 300px; height: 250px;"></p>
            <p></p>
        </div>
        <div class="data-soal">
            <p>4. Perhatikan Gambar dibawah ini, jika meja licin 
              dan gesekan dengan katrol diabaikan, massa tali juga dianggap nol, 
              percepatan gerakan sistem (a) adalah .....
            </p>
            <p><img src="{{ url_for('static', filename='img/soal4.png') }}" alt="" style="width: 300px; height: 280px;"></p>
            <p></p>
        </div>
        <div class="data-soal">
            <p>5.  Balok  berada di sepanjang bidang miring licin dihubungkan dengan balok 
              , gesekan tali dengan katrol diabaikan dan massa tali juga dianggap nol, seperti 
              terlihat pada Gambar dibawah ini. Ketika  ditahan sehingga balok diam, 
              tegangan tali sebesar . Jika balok dilepas, sehingga balok  bergerak ke bawah dengan percepatan ,
               berapa tegangan talinya? .....
            <p><img src="{{ url_for('static', filename='img/soal5.png') }}" alt="" style="width: 300px; height: 250px;"></p>
            <p></p>
        </div>
</div>
           


    

  







    <div class="footer">
    <a>Copyright @ Pendidikan Fisika</a>
  </div>
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
